*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: url('/teal-885329_1280.webp');
    background-size: cover;
  }
  
  .navbar {
    background-color: #001C30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    width: 100px;
    margin:10px;
    border-radius: 4px;
  }
  
  .nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    border-bottom: 2px solid #ffffff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #176B87;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #64CCC5;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
    width: fit-content;
  }
  